.count {
  position: relative;
  max-width: 84px;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 9px 12px;
  background-color: #f2f2f3;
  border-radius: 12px;
}

.box {
  text-align: center;
}

.input {
  display: block;
  width: 100%;
  text-align: center;
}

.controls {
}

.minus {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.plus {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
}
